{% block setono_sylius_meilisearch_facet_checkbox_row %}
    <div class="ssm-filter ssm-filter-checkbox">
        {{ form_label(form) }}
        <ul>
            <li>{{- form_widget(form) -}}{{ form_label(form) }}</li>
        </ul>
    </div>
{% endblock %}

{% block setono_sylius_meilisearch_facet_range_row %}
    <div class="ssm-filter ssm-filter-range">
        {{ form_label(form) }}
        {# todo these input fields should be prefilled with min and max values, but should not be submitted if those values are equal to the default value #}
        <div class="ssm-filter-range-widget">
            <div>
                {{ form_label(form.min) }}
                {{ form_widget(form.min) }}
            </div>
            <div>
                {{ form_label(form.max) }}
                {{ form_widget(form.max) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block setono_sylius_meilisearch_facet_choice_row %}
    <div class="ssm-filter ssm-filter-choice">
        {{ form_label(form) }}
        <ul>
            {%- for child in form %}
                <li>
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </li>
            {% endfor -%}
        </ul>
    </div>
{% endblock %}

{% block setono_sylius_meilisearch_page_choice_widget %}
    <nav class="ssm-pagination">
        <ol>
            {%- for child in form %}
                <li{{ child.vars.label == '__current' ? ' style="display:none"' : '' }}>
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </li>
            {% endfor -%}
        </ol>
    </nav>
{% endblock %}
