{% form_theme searchForm '@SetonoSyliusMeilisearchPlugin/form/search_theme.html.twig' %}

{{ form_start(searchForm, { 'attr': { 'id': 'search-form' } }) }}
    <div class="ui stackable grid">
        <div class="four wide column">
            {{ form_widget(searchForm.facets) }}
        </div>
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="eight wide column">
                    Displaying {{ (searchResult.page * searchResult.hitsPerPage) - searchResult.hitsPerPage }} - {{ searchResult.page * searchResult.hitsPerPage }} of {{ searchResult.hitsCount }}
                </div>
                <div class="eight wide right aligned column">
                    {{ form_widget(searchForm.sort) }}
                </div>
            </div>
            <div class="ui three cards">
                {% for item in items %}
                    {{ include('@SyliusShop/Product/_box.html.twig', { product: item }) }}
                {% endfor %}
            </div>
            {% if searchForm.p is defined %}
                {{ form_widget(searchForm.p) }}
            {% endif %}
        </div>
    </div>
{{ form_end(searchForm) }}
