{% form_theme searchForm '@SetonoSyliusMeilisearchPlugin/form/search_theme.html.twig' %}

{{ form_start(searchForm, { 'attr': { 'id': 'search-form' } }) }}
    <div class="ui stackable grid">
        <div class="four wide column">
            {{ include('@SetonoSyliusMeilisearchPlugin/search/_facets.html.twig') }}
        </div>
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="eight wide column">
                    {{ include('@SetonoSyliusMeilisearchPlugin/search/_hits_count.html.twig') }}
                </div>
                <div class="eight wide right aligned column">
                    {{ include('@SetonoSyliusMeilisearchPlugin/search/_sorting.html.twig') }}
                </div>
            </div>
            <div class="ui three cards">
                {{ include('@SetonoSyliusMeilisearchPlugin/search/_items.html.twig') }}
            </div>
            {{ include('@SetonoSyliusMeilisearchPlugin/search/_pagination.html.twig') }}
        </div>
    </div>
{{ form_end(searchForm) }}
