{# @var items \Sylius\Component\Core\Model\ProductInterface[] #}
{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme searchForm '@SetonoSyliusMeilisearchPlugin/search_theme.html.twig' %}

{% block content %}
    <h1>Search results</h1>
    {% if items|length > 0 %}
        {{ form_start(searchForm, { 'attr': { 'id': 'search-form' } }) }}
            <div class="ui stackable grid">
                <div class="four wide column">
                    {{ form_widget(searchForm.facets) }}

                    <button class="ui button" type="submit" form="search-form" style="margin-top: 10px">{{ 'setono_sylius_meilisearch.form.search.update_filter'|trans }}</button>
                </div>
                <div class="twelve wide column">
                    <div class="ui grid">
                        <div class="eight wide column">
                            {{ searchResult.hitsCount }} results found
                        </div>
                        <div class="eight wide right aligned column">
                            {{ form_widget(searchForm.sort) }}
                        </div>
                    </div>
                    <div class="ui three cards">
                        {% for item in items %}
                            {{ include('@SyliusShop/Product/_box.html.twig', { product: item }) }}
                        {% endfor %}
                    </div>
                    {% if searchForm.p is defined %}
                        {{ form_widget(searchForm.p) }}
                    {% endif %}
                </div>
            </div>
        {{ form_end(searchForm.facets) }}
    {% else %}
        <div class="ui message">
            <div class="header">
                No results found
            </div>
            <p>Try to search for something else</p>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/setonosyliusmeilisearchplugin/js/search-manager.js') }}"></script>
    <script>
        const searchManager = new SearchManager('#search-form');
    </script>
{% endblock %}
