{% block setono_sylius_meilisearch_facet_checkbox_row %}
    <div class="facet facet-checkbox">
        {{ form_label(form) }}
        <ul>
            <li>{{- form_widget(form) -}}{{ form_label(form) }}</li>
        </ul>

    </div>
{% endblock %}

{% block setono_sylius_meilisearch_facet_choice_row %}
    <div class="facet facet-choice">
        {{ form_label(form) }}
        <ul>
            {%- for child in form %}
                <li>
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </li>
            {% endfor -%}
        </ul>
    </div>
{% endblock %}
