{% block setono_sylius_meilisearch_facet_checkbox_row %}
    <div class="facet facet-checkbox">
        {{ form_label(form) }}
        <ul>
            <li>{{- form_widget(form) -}}{{ form_label(form) }}</li>
        </ul>
    </div>
{% endblock %}

{% block setono_sylius_meilisearch_facet_range_row %}
    <div class="facet facet-range">
        {{ form_label(form) }}
        <div class="ui small labeled input" style="margin-bottom: 1rem;">
            <div class="ui label">{{ form_label(form.min) }}</div>
            {{ form_widget(form.min, {'attr': {'class': 'small'}}) }}
        </div>
        <div class="ui small labeled input">
            <div class="ui label">{{ form_label(form.max) }}</div>
            {{ form_widget(form.max, {'attr': {'class': 'small'}}) }}
        </div>
    </div>
{% endblock %}

{% block setono_sylius_meilisearch_facet_choice_row %}
    <div class="facet facet-choice">
        {{ form_label(form) }}
        <ul>
            {%- for child in form %}
                <li>
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </li>
            {% endfor -%}
        </ul>
    </div>
{% endblock %}

{% block setono_sylius_meilisearch_page_choice_widget %}
    <nav class="pagination">
        <ol>
            {%- for child in form %}
                <li{{ child.vars.label == '__current' ? ' style="display:none"' : '' }}>
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                </li>
            {% endfor -%}
        </ol>
    </nav>
{% endblock %}
